:root {
  --ion-color-primary: #4361ee;
  --ion-color-primary-rgb: 67, 97, 238;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-shade: #3a56d4;
  --ion-color-primary-tint: #5a75f0;

  --ion-color-secondary: #3f37c9;
  --ion-color-secondary-rgb: 63, 55, 201;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-shade: #3730b1;
  --ion-color-secondary-tint: #524bce;

  --ion-color-tertiary: #4895ef;
  --ion-color-tertiary-rgb: 72, 149, 239;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-shade: #3f83d3;
  --ion-color-tertiary-tint: #5ba0f1;

  --ion-color-success: #2dc653;
  --ion-color-success-rgb: 45, 198, 83;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-shade: #28af49;
  --ion-color-success-tint: #42cc65;

  --ion-color-warning: #f4a100;
  --ion-color-warning-rgb: 244, 161, 0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-shade: #d78e00;
  --ion-color-warning-tint: #f5aa1a;

  --ion-color-danger: #e63946;
  --ion-color-danger-rgb: 230, 57, 70;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-shade: #cb323e;
  --ion-color-danger-tint: #e94d59;

  --ion-color-dark: #1d3557;
  --ion-color-dark-rgb: 29, 53, 87;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-shade: #1a2f4d;
  --ion-color-dark-tint: #344968;

  --ion-color-medium: #6c757d;
  --ion-color-medium-rgb: 108, 117, 125;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-shade: #5f686e;
  --ion-color-medium-tint: #7b838a;

  --ion-color-light: #f8f9fa;
  --ion-color-light-rgb: 248, 249, 250;
  --ion-color-light-contrast: #1d3557;
  --ion-color-light-shade: #dadbdc;
  --ion-color-light-tint: #f9fafb;
}
